<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>

<body>
    <h1>ホームページ<%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, sint? Fuga quidem maxime possimus,
        doloribus mollitia repudiandae reiciendis ipsum iusto distinctio illum, ut aliquid nobis, ullam voluptatibus.
        Architecto, reiciendis dolore?
        Deleniti deserunt facere neque sapiente officia voluptatibus, quidem accusantium unde aut qui esse vitae ut
        consectetur beatae possimus magni sunt ipsa incidunt cumque nam repellat iusto adipisci! Atque, debitis facere.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A earum, ipsam nulla voluptatem iusto itaque
        reprehenderit. Accusamus nulla sed maxime minus soluta perferendis, ducimus laborum cum porro sint! Accusamus,
        optio!</p>
</body>

</html>